@if (ViewBag.SortBy == ViewBag.ColumnName && ViewBag.SortOrder == SortOrderOptions.Asc.ToString())
{
    <a href="accounts?searchString=@(ViewBag.SearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(SortOrderOptions.Desc)">
        @ViewBag.DisplayName
        <i class="fa-solid fa-sort-up"></i>
    </a>
}
else if (ViewBag.SortBy == ViewBag.ColumnName && ViewBag.SortOrder == SortOrderOptions.Desc.ToString())
{
    <a href="accounts?searchString=@(ViewBag.SearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(SortOrderOptions.Asc)">
        @ViewBag.DisplayName
        <i class="fa-solid fa-sort-down"></i>
    </a>
}
else
{
    <a href="accounts?searchString=@(ViewBag.SearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(SortOrderOptions.Desc)">
        @ViewBag.DisplayName
    </a>
}
