<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/MainStyle.css"/>
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" 
          integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" 
          crossorigin="anonymous" 
          referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">LOGO PLACEHOLDER</div>
            <ul>
                <li>
                    <a href="/user/login">Login</a>
                    <a href="/user/temp/users">Users list</a>
                </li>
            </ul>
        </div>
        
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>