<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/MainStyle.css"/>
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
          crossorigin="anonymous" 
          referrerpolicy="no-referrer"/>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">LOGO PLACEHOLDER</div>
            <ul>
                <li>
                    Temporary sites:
                    <a href="/user/login">Login</a>
                    <a href="/lists/currencies">Currencies list</a>
                    <a href="/lists/countries">Countries list</a>
                    <a href="/lists/users">Users list</a>
                    <a href="/lists/accounts">Financial accounts list</a>
                </li>
            </ul>
        </div>

        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>