@model IEnumerable<CountryResponse>

@{
    ViewBag.Title = "Register";
}

<h1 class="text-center mb-15">Register</h1>

<form action="#" method="post">
    <div class="w-50 text-center div-center">
        <input class="w-50 form-text-input mb-15" type="text" id="Login" placeholder="Enter login or email" name="loginOrEmail" 
               required/>
    </div>

    <div class="w-50 text-center div-center">
        <input class="w-50 form-text-input mb-15" type="password" id="Password" placeholder="Enter password" name="password"
               required/>
    </div>

    <div class="w-50 text-center div-center">
        <input class="w-50 form-text-input mb-15" type="password" id="ConfirmPassword" placeholder="Confirm password" 
               name="confirmPassword" required/>
    </div>
    
    <div class="w-50 text-center div-center">
        <input class="w-50 form-text-input mb-15" type="email" id="Email" placeholder="Enter email" name="email" required/>
    </div>
    
    <div class="w-50 text-center div-center">
        <input class="w-50 form-text-input mb-15" type="text" id="PhoneNumber" placeholder="Enter phone number (optional)" 
               name="phoneNumber"/>
    </div>
    
    <div class="w-50 text-center div-center">
        <select class="w-50 form-text-input mb-15" required>
            @foreach (var country in Model)
            {
                <option>@country.CountryName</option>
            }
        </select>
    </div>
    
    
    <div class="w-50 text-center div-center">
        <button class="button button-blue-back w-25 mb-15" type="submit" id="LoginButton">Register</button>
    </div>
</form>

<div class="w-50 text-center div-center">
    <a style="text-decoration: none; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; cursor: default;"
       href="login" class="button button-green-back">
        Login
    </a>
</div>
